# dependencies
node_modules/

# production build
dist/

# dotenv environment variables file
.env
.env.*

# Firebase debug log
firebase-debug.log

# Firebase functions dependencies (if using functions/)
functions/node_modules/

# Firebase functions build artifacts
functions/lib/
functions/dist/

# misc
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac junk
.AppleDouble
.LSOverride

# Windows junk
ehthumbs.db
Desktop.ini

